body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.chat-box {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

.attendant1, .attendant2 {
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 10px;
    color: #fff;
    background-color: #007bff;
    float: left;
}

.user {
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 10px;
    color: #fff;
    background-color: #28a745;
    float: right;
}

.message {
    margin-bottom: 10px;
    padding: 10px; 
    border-radius: 10px;
    font-weight: bold;
    clear: both;
}

.message span {
    word-wrap: break-word;
}

.message-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    clear: both;
    overflow: hidden;
}

.message-box input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.message-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-box button:hover {
    background-color: #0056b3;
}

.chat-box{
    max-height: 600px;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}